.b4, .b4 .at {
  background-color: #5C3475 !important;
}

.b2:not(.bM) {
  background-color: #6B4285 !important;
}

.ad:not(.a1)>.I, .ay:not(.a1)>.I, #aVMuZe:not(.m):not(.M) .ad>.I:not(.pU4C1e), #aVMuZe:not(.m):not(.M) .ay>.I, .ad.a1>*>*>.r:not(.B8), .ay.a1>*>*>.r {
  background-color: #956FAD !important;
}

.b4 .at::before {
  box-shadow: inset -24px 0 12px -12px #5C3475 !important;
}

.gH {
  background-color: #321C3f !important;
}
